<div th:fragment="navbarFragment" class="">

        <div class="header3">
        	<a th:href="@{/index}">
            <div class="logo">
                <img src="/resources/images/OJM.png" alt="Logo" class="logo-img">
                <h1>오늘 점심 뭐 먹지?</h1>
            </div>
            </a>
			<div class="auth">
			                <div class="auth-links">
			                   <!-- 추가 -->
			                   <a th:href="@{|/rank/main?category=top10|}">RANK</a>
			                   <span>|</span>
			                    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a><span sec:authorize="isAnonymous()">|</span><a sec:authorize="isAnonymous()" th:href="@{/user/join}">회원가입</a>
			                    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a><span sec:authorize="isAuthenticated()">|</span><a sec:authorize="isAuthenticated()" th:href="@{/rank/userReview}">회원 리뷰 페이지</a>
			                </div>
			            </div>
        </div>
    <!-- 삽입될 내용 -->
    <!-- <div th:replace="~{/OJM/header :: content}"></div> -->
  </div>