<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>SIST5 SBB</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}">
<!-- sbb CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/rank_page.css}"> <!-- 추가 -->
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}">
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/join.css}"> 
</head>   
<body>
<div th:replace="~{/OJM/header :: navbarFragment}"></div>
<!-- 기본 템플릿 안에 삽입되어질 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입되어질 내용 End -->

<!-- 부트스트랩 js -->
<script th:src="@{/bootstrap/bootstrap.min.js}"></script>
<!-- 자바스크립트 -->
<th:block layout:fragment="script"></th:block>
</body>
</html>