<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/OJM/layout}">
<div layout:fragment="content">
<div id="wrap">
      <div id="container2"> <!-- 수정 -->
        <div id="contents">
          <div id="SP_boardPageChk">
            <div class="SP_layoutFix">
              <div
                class="xans-element- xans-board xans-board-listpackage-1002 xans-board-listpackage xans-board-1002"
              >
                <div
                  class="xans-element- xans-board xans-board-title-1002 xans-board-title xans-board-1002 SP_subContHeader"
                >
                  <h2 class="SP_subTitle eng_font">
                    <font color="#555555">RANK</font>
                  </h2>
                  <!-- <p class="SP_subTtileStxt">이용안내 FAQ입니다.</p> -->
                  <!-- <p class="imgArea"><img src="//img0001.echosting.cafe24.com/front/type_b/image/board/board_top.gif"  /></p> -->
                  <!-- 카테고리 분류 -->
                  <div class="base_board_category">
                    <ul>
                      <li class="" th:classappend="${activeTab == 'top10'} ? 'active' : ''">
                        <a
                          th:href="@{|/rank/main?category=top10|}"
                          >top10</a
                        >
                      </li>
                      <li class="" th:classappend="${activeTab == 'all'} ? 'active' : ''">
                        <a
                          th:href="@{|/rank/main?category=all|}"
                          >전체</a
                        >
                      </li>
                      <li class="" th:classappend="${activeTab == 'korea'} ? 'active' : ''">
                        <a
                          th:href="@{|/rank/main?category=korea|}"
                          >한식</a
                        >
                      </li>
                      <li class="" th:classappend="${activeTab == 'china'} ? 'active' : ''">
                        <a
                          th:href="@{|/rank/main?category=china|}"
                          >중식</a
                        >
                      </li>
                      <li class="" th:classappend="${activeTab == 'america'} ? 'active' : ''">
                        <a
                          th:href="@{|/rank/main?category=america|}"
                          >양식</a
                        >
                      </li>
                      <li class="" th:classappend="${activeTab == 'japan'} ? 'active' : ''">
                        <a
                          th:href="@{|/rank/main?category=japan|}"
                          >일식</a
                        >
                      </li>
                      <li class="" th:classappend="${activeTab == 'fastFood'} ? 'active' : ''">
                        <a
                          th:href="@{|/rank/main?category=fastFood|}"
                          >패스트푸드</a
                        >
                      </li>
                    </ul>
                  </div>
                  <!-- //카테고리 분류 -->
                </div>
                <!--
            <div class="boardSort">
                <span module="board_category_1002"></span>
                <span module="board_ReplySort_1002"></span>
            </div>
			-->
                <div class="ec-base-table SP_subSection gBorder">
                  <table
                    border="1"
                    summary=""
                    class="SP_tableSt02_isThead SP_cateBoard_table"
                  >
                    <caption>
                      게시판 목록
                    </caption>
                    <colgroup
                      class="xans-element- xans-board xans-board-listheader-1002 xans-board-listheader xans-board-1002"
                    >
                      <!-- <col style="width:70px;" /> -->
                      <col style="width: 150px" class="" />
                      <col style="width: auto" />
                      <!-- <col style="width:84px;" />
                        <col style="width:150px;" class="" />
                        <col style="width:55px;" class="" />
                        <col style="width:55px;" class="displaynone" />
                        <col style="width:80px;" class="displaynone" /> -->
                    </colgroup>
                    <thead
                      class="xans-element- xans-board xans-board-listheader-1002 xans-board-listheader xans-board-1002"
                    >
                      <tr style="">
                        <!-- <th scope="col"> 번호</th> -->
                        <th scope="col" class="">순위</th>
                        <th scope="col">식당명</th>
                        <th scope="col">별점</th>
                        <th scope="col">리뷰수</th>
                        <!-- <th scope="col">작성자</th>
                            <th scope="col" class="">작성일</th>
                            <th scope="col" class="">조회</th>
                            <th scope="col" class="displaynone">추천</th>
                            <th scope="col" class="displaynone">평점</th> -->
                      </tr>
                    </thead>
                    <tbody
                      class="xans-element- xans-board xans-board-notice-1002 xans-board-notice xans-board-1002 center"
                    >
                      <!--
                            $count = 2
                            $login_page_url = /member/login.html
                            $deny_access_url = /index.html
                        -->
                      <!-- top10 -->
                      <tr
                        style="background-color: #ffffff; color: #555555"
                        class="xans-record-"
                        th:each="topList, loop : ${topList}"
                      >
                        <!-- <td> 공지</td> -->
                        <td class="category" th:text="${loop.count}"></td>
                        <td class="subject left txtBreak">
                          <strong>
                            <a
                              href=""
                              style="color: #555555"
                              th:text="${topList.Rname}"
                              ></a
                            >
                            <span class="txtEm"></span
                          ></strong>
                        </td>
                        <td class="category" th:text="|★${topList.avgrating}|"></td>
						<td class="revCount" th:text="|${#lists.size(topList.reviewList)}개|"></td>
                        <!-- <td></td>
                            <td class=""><span class="txtNum">2022-05-31 17:42:44</span></td>
                            <td class=""><span class="txtNum">3955</span></td>
                            <td class="displaynone"><span class="txtNum">0</span></td>
                            <td class="displaynone"><img src="//img.echosting.cafe24.com/skin/base/board/ico_point0.gif" alt="0점"/></td> -->
                      </tr>
                      <!-- all -->
                      <tr
                        style="background-color: #ffffff; color: #555555"
                        class="xans-record-"
                        th:each="allList, loop : ${paging}"
                      >
                        <!-- <td> 공지</td> -->
                        <td class="category" th:text="${loop.index + 1 + (paging.number * paging.size)}"></td>
                        <td class="subject left txtBreak">
                          <strong>
                            <a
                              href=""
                              style="color: #555555"
                              th:text="${allList.Rname}"
                              ></a
                            >
                            <span class="txtEm"></span
                          ></strong>
                        </td>
                        <td class="category" th:text="|★${allList.avgrating}|"></td>
						<td class="revCount" th:text="|${#lists.size(allList.reviewList)}개|"></td>
                        <!-- <td></td>
                            <td class=""><span class="txtNum">2022-05-31 17:42:44</span></td>
                            <td class=""><span class="txtNum">3955</span></td>
                            <td class="displaynone"><span class="txtNum">0</span></td>
                            <td class="displaynone"><img src="//img.echosting.cafe24.com/skin/base/board/ico_point0.gif" alt="0점"/></td> -->
                      </tr>
                      <!-- search -->
                      <tr
                        style="background-color: #ffffff; color: #555555"
                        class="xans-record-"
                        th:each="searchList, loop : ${searchList}"
                      >
                        <!-- <td> 공지</td> -->
                        <td class="category" th:text="${loop.count}"></td>
                        <td class="subject left txtBreak">
                          <strong>
                            <a
                              href=""
                              style="color: #555555"
                              th:text="${searchList.Rname}"
                              ></a
                            >
                            <span class="txtEm"></span
                          ></strong>
                        </td>
                        <td class="category" th:text="|★${searchList.avgrating}|"></td>
						<td class="revCount" th:text="|${#lists.size(searchList.reviewList)}개|"></td>
	
                        <!-- <td></td>
                            <td class=""><span class="txtNum">2022-05-31 17:42:44</span></td>
                            <td class=""><span class="txtNum">3955</span></td>
                            <td class="displaynone"><span class="txtNum">0</span></td>
                            <td class="displaynone"><img src="//img.echosting.cafe24.com/skin/base/board/ico_point0.gif" alt="0점"/></td> -->
                      </tr>
                    </tbody>
                  </table>
                  <p
                    class="xans-element- xans-board xans-board-empty-1002 xans-board-empty xans-board-1002 SP_message displaynone"
                  ></p>
                </div>
                <div
                  class="xans-element- xans-board xans-board-buttonlist-1002 xans-board-buttonlist xans-board-1002 SP_tableBtn_wrap displaynone"
                >
                  <div class="SP_tableBtnAlign_right">
                    <a
                      href="#empty"
                      class="SP_cm_btn SP_btn_gray_bd displaynone"
                      >글쓰기</a
                    >
                  </div>
                </div>
              </div>

              <div class="g-search base_board_search">
                  <input
                    id="board_no"
                    name="board_no"
                    value="3"
                    type="hidden"
                  />
                  <input id="page" name="page" value="1" type="hidden" />
                  <input
                    id="board_sort"
                    name="board_sort"
                    value=""
                    type="hidden"
                  />
                  <div
                    class="xans-element- xans-board xans-board-search-1002 xans-board-search xans-board-1002 SP_boardSearh_wrap"
                  >
                    <fieldset class="boardSearch">
                      <legend>게시물 검색</legend>
                      <p>
                        <span
                          class="xans-element- xans-board xans-board-category-1002 xans-board-category xans-board-1002 board_category displaynone"
                          ><select
                            id="board_category"
                            name="board_category"
                            fw-filter=""
                            fw-label=""
                            fw-msg=""
                          >
                            <option value="" selected="selected">전체</option>
                            <option value="1">상품</option>
                            <option value="2">주문/결제/취소</option>
                            <option value="3">배송</option>
                            <option value="4">교환/반품/환불</option>
                            <option value="5">사이트 이용</option>
                            <option value="6">회원</option>
                            <option value="7">기타</option>
                          </select></span
                        >

                        <span class="SP_search_key" style="display: none"
                          ><select
                            id="search_key"
                            name="search_key"
                            fw-filter=""
                            fw-label=""
                            fw-msg=""
                          >
                            <option value="subject">제목</option>
                            <option value="content">내용</option>
                            <option value="writer_name">글쓴이</option>
                            <option value="member_id">아이디</option>
                            <option value="nick_name">별명</option>
                          </select></span
                        >
                        <form action="/rank/search" method="get" id="searchForm">
                        <input
                          id="search"
                          name="search"
                          fw-filter=""
                          fw-label=""
                          fw-msg=""
                          class="inputTypeText"
                          placeholder=""
                          th:value="${search}"
                          type="text"
                        />
                        <button
                          id="searchBtn"
                          class="SP_cm_btn SP_btn_blue_bg"
                          type="submit"
                          >검색하기</button
                        >
                        </form>
                      </p>
                    </fieldset>
                  </div>
              </div>

              <!-- 페이징 처리 -->
              <div class="xans-element- xans-board xans-board-paging-1002 xans-board-paging xans-board-1002 SP_pagenation_wrap"
			     th:if="${not isTop10 and activeTab != 'top10' and activeTab != 'search' and paging != null and !paging.isEmpty()}">
			    <div class="SP_page_prev_wrap" th:if="${paging != null and !paging.isEmpty()}">
			        <a th:if="${pageMaker.prev}"
			           th:href="@{|?category=${activeTab}&page=${pageMaker.startPage-2}|}"
			           class="SP_pg_prev_btn"></a>
			    </div>
			    
			    <div class="SP_page_num_list">
			        <ol>
			            <li class="xans-record-" th:each="page: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
			                <a 
			                   th:href="@{|?category=${activeTab}&page=${page-1}|}"
			                   th:text="${page}"
			                   th:classappend="${page == paging.number+1} ? 'this' : 'other'"></a>
			            </li>
			        </ol>
			    </div>
			    
			    <div class="SP_page_next_wrap">
			        <a th:href="@{|?category=${activeTab}&page=${pageMaker.endPage}|}"
			           th:if="${pageMaker.next}"
			           class="SP_pg_next_btn"></a>
			    </div>
			</div>
			  <!-- // 페이징 처리 -->
              
              <!-- search 경우 페이징 처리 -->
              <div class="xans-element- xans-board xans-board-paging-1002 xans-board-paging xans-board-1002 SP_pagenation_wrap"
			     th:if="${not isTop10} and ${activeTab == 'search' and paging != null and !paging.isEmpty()}">
			
			    <div class="SP_page_prev_wrap" th:if="${paging != null and !paging.isEmpty()}">
			        <a th:if="${pageMaker.prev}"
			           th:href="@{|?search=${search}&page=${pageMaker.startPage-2}|}"
			           class="SP_pg_prev_btn"></a>
			    </div>
			
			    <div class="SP_page_num_list">
			        <ol>
			            <li class="xans-record-" th:each="page: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
			                <a 
			                   th:href="@{|?search=${search}&page=${page-1}|}"
			                   th:text="${page}"
			                   th:classappend="${page == paging.number+1} ? 'this' : 'other'"></a>
			            </li>
			        </ol>
			    </div>
			
			    <div class="SP_page_next_wrap">
			        <a th:href="@{|?search=${search}&page=${pageMaker.endPage}|}"
			           th:if="${pageMaker.next}"
			           class="SP_pg_next_btn"></a>
			    </div>
			
			</div>
              <!-- // search 경우 페이징 처리 -->
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
			
          <style>
            .SP_subContHeader .SP_subTitle,
            .SP_subSection .SP_subTitle,
            .SP_subLoginHeader .SP_subTitle {
              text-transform: uppercase;
            }
            #SP_boardPageChk .SP_subTitle font {
              text-transform: uppercase;
            }
          </style>
		  
        </div>
      </div>
</div>
</div>