<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/OJM/layout}">
<div layout:fragment="content">
<div class="memberJoin-container">
		<div id="memberJoin-container-contents">
			<div class="table-container">
				<div class="layout-fix">
					<form th:action="@{/user/join}" th:object="${userCreateForm}"  id="joinForm" name="joinForm" method="post" target="_self">
						<!-- 대량의 hidden 인풋으로 email-auth-use 같은 것들을 가져가는데 일단 생략 중복 체크하나? -->
						<div class="memberJoin-wrap">

							<div class="innerJoinWrap">
								<div class="innerJoin">
									<h2 class="mem_joinTitle">회원가입</h2>
								<div th:replace="~{/question/form_errors :: formErrorsFragment}"></div>
								</div>
								<!-- innerJoin -->
								
								
							</div>
							
							<!-- memberJoin-innerWrap -->
							<div class="innerJoinWrap2nd">

								<div class="innerJoin2nd">
									<div class="innerJoin2ndbox">
										<table class="formTable">
											<colgroup>
												<col style="width: 150px;">
												<col style="width: auto;">
											</colgroup>
											<tbody>
												<tr class="checked-vali">
													<th scope="row"><span class="SP_th_Title">아이디</span> <span
														class="SP_required">*</span></th>
													<td><input type="text" id="user_login_id" value="spring1234" data-checked="false"
														th:field="*{userLoginId}" 
														style="height: 50px !important; line-height: 50px; width: 100% !important; margin: 0 !important; font-size: 16px; border: 1px solid #bababa;">
														
													</td>
												</tr>

												<tr class="checked-vali">
													<th scope="row"><span class="SP_th_Title">비밀번호</span>
														<span class="SP_required">*</span></th>
													<td><input type="password" id="passwd" th:field="*{userPassword1}" value="qwer1234!">
														<div class="pwGuide">(영문 대소문자/숫자/특수문자 중 2가지 이상 조합,
															8자~16자)</div>
															<div class="pwGuide2"></div>
															
												</tr>

												<tr class="checked-vali">
													<th scope="row"><span class="SP_th_Title">비밀번호<br>확인
															<span class="SP_required">*</span>
													</span></th>
													<td><input type="password" id="passwd-confirm" value="qwer1234!"
														th:field="*{userPassword2}"> <span id="pwConfirmMsg"
														class=""></span></td>
												</tr>

												<tr class="checked-vali">
													<th scope="row"><span class="SP_th_Title">이름</span> <span
														class="SP_required">*</span></th>
													<td><span id="nameContent"> <input type="text" value="일지매"
															id="name" th:field="*{userName}">
													</span></td>
												</tr>

												<tr class="checked-vali">
													<th scope="row"><span class="SP_th_Title">이메일</span> <span
														class="SP_required">*</span></th>
													<td><input type="text" id="email" th:field="*{userEmail}"  value="asd@naver.com" data-checked="false">			
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- innerJoinWrap -->

						   <div class="SP_joinsubmit_wrap inner_join_wrap">
								<div class="inner_join">
							
										<button type="submit" class="SP_cm_btn SP_btn_black_bg">회원
										가입하기</button>
										
								</div>
							</div> 
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
					</form>
				</div>
			</div>

		</div>
</div>
</div>

