<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/OJM/layout}">
<div layout:fragment="content">
<div id="wrap" style="padding-top: 156px !important">
      <div id="container">
        <div id="contents">
          <div id="SMS_login_warp" class="login_container SP_layoutFix">
            <form
              id="loginForm"
              th:action="@{/user/login}"
              method="post"
              target="_self"
            >
            
              <div id="" class="xans-element- xans-member xans-member-login">
                <!--
         $defaultReturnUrl = /index.html
      -->
                <div class="loginWrap">
                  <div
                    df-banner-code="login-banner"
                    class="loginBnr displaynone df-bannermanager df-bannermanager-login-banner"
                  >
                    <div df-banner-clone="">
                      <a href="#none"
                        ><img
                          src="/web/upload/NNEditor/20201221/538e6d1a805ea2edea743e38fdb35f8f.jpg"
                          alt="login_banner_img"
                      /></a>
                    </div>
                  </div>
                  <fieldset>
                    <div class="formBox">
                    	 	<div th:if="${param.error}">
					            <div class="alert alert-danger">
					                사용자ID 또는 비밀번호를 확인해 주세요.
					            </div>
					        </div>

                      <div class="form login">                   
                        <div>
                          <span class="">아이디 입력</span>
                          <input
                            id="member_id"
                            name="username"
                            fw-filter="isFill"
                            fw-label="아이디"
                            fw-msg=""
                            class="inputTypeText"
                            placeholder=""
                            value=""
                            type="text"
                          />
                          <span class="reset_id"></span>
                        </div>
                        <!-- 확인 필요 -->
                        <div id="aaaaaa"></div>
                        <div>
                          <span class="">비밀번호 입력</span>
                          <input
                            id="member_passwd"
                            name="password"
                            autocomplete="off"
                            value=""
                            type="password"
                            placeholder=""
                          />
                          <span class="show_pw"></span>
                        </div>
                      </div>
                      <div class="option">
                        <span class="auto"></span>
                        <span class="save"></span>
                      </div>

                      <div class="btnArea type1">
                      <button type="submit" class="btnSubmit SMSlogin_btnTD">로그인</button>
                      </div>

                      <div class="btnJoin btnArea type1 join_btn">
                        <a
                          th:href="@{/user/join}"
                          class="btnEm SMSjoin_btnTD wh"
                          id="aaaaa"
                          >회원가입</a
                        >
                      </div>
                      
                      <!-- <div class="btnArea typeLogin">
                        <a
                          href="<%= contextPath %>/ohora.do?findID=findID1"
                          class="btnLogin SMS_login_id SMSloginID_btnTD"
                          id="aa"
                          ><b class="SMS_icon"></b>아이디 찾기</a
                        >
                        <a
                          href="<%= contextPath %>/ohora.do?findPasswd=goFindPasswd"
                          class="btnLogin SMS_login_pw SMSloginPW_btnTD"
                          id="aaa"
                          ><b class="SMS_icon"></b>비밀번호 찾기</a
                        >
                      </div> -->
                    </div>
                  </fieldset>
                </div>
                <!--//주문조회-->
              </div>
            </form>
          </div>

          <!-- 해당 스크립트 삭제에 유의 부탁드리며, 스냅 솔루션의 스크립트입니다. -->
          <!---- snappush  start contact mail: support@snapvi.co.kr --->
          <div id="spm_page_type" style="display: none">sq_login_page</div>
          <script
            async=""
            type="text/javascript"
            src="//cdn.snapfit.co.kr/js/spm_f_common.js"
            charset="utf-8"
          ></script>
          <div id="spm_banner_main"></div>
          <!---- snappush  end -->
        </div>
      </div>
    </div>
    
</div>