<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.ohora.www.persistence.ProductMapper"><!-- 패키지들이랑 interface 이름 -->

	<select id="selectAllProducts" resultType="kr.ohora.www.domain.product.ProductDTO">
	    SELECT 
	        p.pdt_id AS pdtId, 
	        p.pdt_name AS pdtName, 
	        p.pdt_amount AS pdtAmount, 
	        p.pdt_discount_rate AS pdtDiscountRate, 
	        p.pdt_img_url AS pdtImgUrl, 
	        p.pdt_img_url2 AS pdtImgUrl2, 
	        p.pdt_review_count AS pdtReviewCount,
	        p.pdt_adddate AS pdtAdddate,
			(CASE 
			    WHEN p.pdt_discount_rate != 0 
			    THEN FLOOR((p.pdt_amount - (p.pdt_amount * (p.pdt_discount_rate / 100.0))) / 10) * 10
			    ELSE FLOOR(p.pdt_amount / 10) * 10
			END) AS pdtDiscountAmount,
	        c.cat_name AS catName
	    FROM O_PRODUCT p
	    LEFT JOIN O_CATEGORY c
	    ON p.cat_id = c.cat_id
		ORDER BY p.pdt_adddate DESC

	</select>
	
	<!-- 주간베스트용 -->
	<select id="selectWeeklyBestProducts" resultType="kr.ohora.www.domain.product.ProductDTO">
	    SELECT 
	        p.pdt_id AS pdtId, 
	        p.pdt_name AS pdtName, 
	        p.pdt_amount AS pdtAmount, 
	        p.pdt_discount_rate AS pdtDiscountRate, 
	        p.pdt_img_url AS pdtImgUrl, 
	        p.pdt_img_url2 AS pdtImgUrl2, 
	        p.pdt_review_count AS pdtReviewCount,
	        p.pdt_adddate AS pdtAdddate,
			(CASE 
			    WHEN p.pdt_discount_rate != 0 
			    THEN FLOOR((p.pdt_amount - (p.pdt_amount * (p.pdt_discount_rate / 100.0))) / 10) * 10
			    ELSE FLOOR(p.pdt_amount / 10) * 10
			END) AS pdtDiscountAmount,
	        c.cat_name AS catName
	    FROM O_PRODUCT p
	    LEFT JOIN O_CATEGORY c
	    ON p.cat_id = c.cat_id
	    <where>
	        <if test="categoryNumber != null and categoryNumber != 0">
	            p.cat_id = #{categoryNumber, jdbcType=INTEGER}
	        </if>
	    </where>
	            ORDER BY p.pdt_sales_count DESC
	</select>

	


	<resultMap id="ProductWithOptionsResultMap" type="kr.ohora.www.domain.product.ProductDTO">
	    <id property="pdtId" column="pdtId"/>
	    <result property="pdtName" column="pdtName"/>
	    <result property="pdtAmount" column="pdtAmount"/>
	    <result property="pdtDiscountRate" column="pdtDiscountRate"/>
	    <result property="pdtImgUrl" column="pdtImgUrl"/>
	    <result property="pdtImgUrl2" column="pdtImgUrl2"/>
	    <result property="pdtReviewCount" column="pdtReviewCount"/>
	    <result property="pdtSalesCount" column="pdtSalesCount"/>
	    <result property="catId" column="catId"/>
	    <result property="pdtDescription" column="pdtDescription"/>
	    <result property="pdtViewcount" column="pdtViewcount"/>
	    <result property="pdtDiscountAmount" column="pdtDiscountAmount"/>
	    <result property="pdtCount" column="pdtcount" />
	    <collection property="options" ofType="kr.ohora.www.domain.product.OptionDTO">
	        <id property="optId" column="optId"/>
	        <result property="optName" column="optName"/>
	        <result property="optAmount" column="optAmount"/>
	        <result property="optCount" column="optCount"/>
	    </collection>
	</resultMap>

	<!-- 상품 상세 페이지 --> 
	<select id="selectDetailViewProduct" resultMap="ProductWithOptionsResultMap">
	    SELECT 
	        P.pdt_id AS pdtId,
	        P.pdt_name AS pdtName,
	        P.pdt_amount AS pdtAmount,
	        P.pdt_discount_rate AS pdtDiscountRate,
	        P.pdt_img_url AS pdtImgUrl,
	        P.pdt_img_url2 AS pdtImgUrl2,
	        P.pdt_review_count AS pdtReviewCount,
	        P.pdt_sales_count AS pdtSalesCount,
	        P.cat_id AS catId,
	        P.pdt_description AS pdtDescription,
	        P.pdt_viewcount AS pdtViewcount,
	        P.pdt_count AS pdtCount,
			(CASE 
			    WHEN p.pdt_discount_rate != 0 
			    THEN FLOOR((p.pdt_amount - (p.pdt_amount * (p.pdt_discount_rate / 100.0))) / 10) * 10
			    ELSE FLOOR(p.pdt_amount / 10) * 10
			END) AS pdtDiscountAmount,
	        O.opt_id AS optId,
	        O.opt_name AS optName,
	        O.opt_amount AS optAmount,
	        O.opt_count AS optCount
	    FROM O_PRODUCT P
	    LEFT JOIN O_PDTOPTION O ON P.pdt_id = O.pdt_id
	    WHERE P.pdt_id = #{productId}
	</select>
	

	<!-- ArrayList<ProductDTO> select(int currentPage, int numberPerPage) throws SQLException; -->
	<select id="selectProducts" resultType="kr.ohora.www.domain.product.ProductDTO" parameterType="kr.ohora.www.domain.product.ProductSearchDTO">
	    SELECT * 
	    FROM (
	        SELECT ROWNUM AS no, t.* 
	        FROM (
	            SELECT 
	                p.pdt_id AS pdtId, 
	                p.pdt_name AS pdtName, 
	                p.pdt_amount AS pdtAmount, 
	                p.pdt_discount_rate AS pdtDiscountRate, 
	                p.pdt_img_url AS pdtImgUrl, 
	                p.pdt_img_url2 AS pdtImgUrl2, 
	                p.pdt_review_count AS pdtReviewCount,
	                (CASE 
					    WHEN p.pdt_discount_rate != 0 
					    THEN FLOOR((p.pdt_amount - (p.pdt_amount * (p.pdt_discount_rate / 100.0))) / 10) * 10
					    ELSE FLOOR(p.pdt_amount / 10) * 10
					END) AS pdtDiscountAmount,
	                c.cat_name AS catName
	            FROM O_PRODUCT p
	            LEFT JOIN O_CATEGORY c
	            ON p.cat_id = c.cat_id
	            <where>
	                <if test="categoryNumber != 0">
	                    p.cat_id = #{categoryNumber}
	                </if>
	                <if test="keyword != null and keyword != ''">
	                    AND p.pdt_name LIKE '%' || #{keyword} || '%'
	                </if>
	            </where>
	            <choose>
	                <when test="sort == 'sales'">
	                    ORDER BY p.pdt_sales_count DESC
	                </when>
	                <when test="sort == 'views'">
	                    ORDER BY p.pdt_viewcount DESC
	                </when>
	                <otherwise>
	                    ORDER BY p.pdt_adddate DESC
	                </otherwise>
	            </choose>
	        ) t
	    ) b
	    WHERE no BETWEEN #{start} AND #{end}
	</select>


    
    <select id="getTotalRecords" resultType="int" parameterType="kr.ohora.www.domain.product.ProductSearchDTO">
	    SELECT COUNT(*)
	    FROM O_PRODUCT p
	    <where>
	        <if test="categoryNumber != 0">
	            p.cat_id = #{categoryNumber}
	        </if>
	        <if test="keyword != null and keyword != ''">
	            AND p.pdt_name LIKE '%' || #{keyword} || '%'
	        </if>
	    </where>
	</select>
    
	
	<!-- int hitUp(int pdtId) throws SQLException; -->
	<update id="hitUp">
		UPDATE o_product 
        SET pdt_viewcount = pdt_viewcount + 1 
        WHERE pdt_id = #{productId}
	</update>
	
	
	<!-- 아울렛 상품 조회 -->
	<select id="selectOutletProducts" resultType="kr.ohora.www.domain.product.ProductDTO">
	    SELECT * 
	    FROM (
	        SELECT ROWNUM AS no, t.* 
	        FROM (
	            SELECT 
	                p.pdt_id AS pdtId, 
	                p.pdt_name AS pdtName, 
	                p.pdt_amount AS pdtAmount, 
	                p.pdt_discount_rate AS pdtDiscountRate, 
	                p.pdt_img_url AS pdtImgUrl, 
	                p.pdt_img_url2 AS pdtImgUrl2, 
	                p.pdt_review_count AS pdtReviewCount,
	                (CASE 
					    WHEN p.pdt_discount_rate != 0 
					    THEN FLOOR((p.pdt_amount - (p.pdt_amount * (p.pdt_discount_rate / 100.0))) / 10) * 10
					    ELSE FLOOR(p.pdt_amount / 10) * 10
					END) AS pdtDiscountAmount
	            FROM O_PRODUCT p
	            WHERE p.pdt_discount_rate >= 40
	            ORDER BY p.pdt_adddate DESC
	        ) t
	    ) b
	    WHERE no BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 아울렛 상품 총 레코드 수 -->
	<select id="getOutletTotalRecords" resultType="int">
	    SELECT COUNT(*) 
	    FROM O_PRODUCT p
	    WHERE p.pdt_discount_rate >= 40
	</select>
	
	<!-- 상품 등록 -->
	<insert id="insertProduct" parameterType="kr.ohora.www.domain.product.ProductDTO">
	    INSERT INTO O_PRODUCT (
	        PDT_ID, 
	        CAT_ID, 
	        SCAT_ID, 
	        PDT_NUMBER, 
	        PDT_NAME, 
	        PDT_AMOUNT, 
	        PDT_DISCOUNT_RATE, 
	        PDT_IMG_URL, 
	        PDT_COUNT, 
	        PDT_REVIEW_COUNT, 
	        PDT_SALES_COUNT, 
	        PDT_ADDDATE, 
	        PDT_VIEWCOUNT, 
	        PDT_IMG_URL2, 
	        PDT_DESCRIPTION
	    ) VALUES (
	        o_pdt_seq.NEXTVAL, 
	        #{catId, jdbcType=INTEGER}, 
	        #{scatId, jdbcType=INTEGER}, 
	        #{pdtNumber, jdbcType=INTEGER}, 
	        #{pdtName, jdbcType=VARCHAR}, 
	        #{pdtAmount, jdbcType=INTEGER}, 
	        #{pdtDiscountRate, jdbcType=INTEGER}, 
	        #{pdtImgUrl, jdbcType=VARCHAR}, 
	        #{pdtCount, jdbcType=INTEGER}, 
	        #{pdtReviewCount, jdbcType=INTEGER}, 
	        #{pdtSalesCount, jdbcType=INTEGER}, 
	        SYSDATE, 
	        #{pdtViewcount, jdbcType=INTEGER}, 
	        #{pdtImgUrl2, jdbcType=VARCHAR}, 
	        #{pdtDescription, jdbcType=VARCHAR}
	    )
	</insert>

	
	<!-- 상품 수정 -->
	<update id="updateProduct">
	    UPDATE O_PRODUCT
	    SET 
	        CAT_ID = #{product.catId, jdbcType=INTEGER},
	        SCAT_ID = #{product.scatId, jdbcType=INTEGER},
	        PDT_NUMBER = #{product.pdtNumber, jdbcType=INTEGER},
	        PDT_NAME = #{product.pdtName, jdbcType=VARCHAR},
	        PDT_AMOUNT = #{product.pdtAmount, jdbcType=INTEGER},
	        PDT_DISCOUNT_RATE = #{product.pdtDiscountRate, jdbcType=INTEGER},
	        PDT_IMG_URL = #{product.pdtImgUrl, jdbcType=VARCHAR},
	        PDT_IMG_URL2 = #{product.pdtImgUrl2, jdbcType=VARCHAR},
	        PDT_COUNT = #{product.pdtCount, jdbcType=INTEGER},
	        PDT_DESCRIPTION = #{product.pdtDescription, jdbcType=VARCHAR}
	    WHERE PDT_ID = #{product.pdtId, jdbcType=INTEGER}
	</update>
	<!-- 조회수 및 리뷰수 최신화 -->
	<update id="updateViewAndReviewCounts" parameterType="int">
	    UPDATE O_PRODUCT
	    SET 
	        PDT_VIEWCOUNT = PDT_VIEWCOUNT,
	        PDT_REVIEW_COUNT = PDT_REVIEW_COUNT
	    WHERE PDT_ID = #{pdtId}
	</update>
	<!-- 상품 최신 데이터 가져오기 -->
	<select id="getProductById" resultType="kr.ohora.www.domain.product.ProductDTO">
	    SELECT * 
	    FROM O_PRODUCT
	    WHERE PDT_ID = #{pdtId}
	</select>
	
	
</mapper>